# Server
fastapi
uvicorn[standard]

# UI (optional)
aiofiles

# Database
pymongo
requests

# LLM
google-genai

# API
python-dotenv

# Utilities
python-multipart
huggingface_hub
psutil              # CPU/RAM logger

