# Server
fastapi
uvicorn[standard]

# UI 
aiofiles

# Database
pymongo
requests

# LLM
google-genai

# API
python-dotenv

# Utilities
python-multipart
huggingface_hub
psutil              

# ASR
pydub
torch
transformers