# Server
fastapi
uvicorn[standard]

# DB and API
pymongo
python-dotenv

# Embedding
sentence-transformers
faiss-cpu
numpy
pydantic

# LLM
# google-genai
python-multipart

# OCR
gradio_client
pillow
# transformers # Depreciated since switching to API
# accelerate
# torch
# torchvision

